<!doctype html>
<html lang="en">
   <head>
      <title>Crackit</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Paytone+One|Yrsa" rel="stylesheet">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Covered+By+Your+Grace|Delius|The+Girl+Next+Door" rel="stylesheet">
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
   </head>
   <body>
      <header>
    <div class="jumbotron" style="background-image: url('http://allpicts.in/download/18471/Mustard_Color_Wallpaper_06_0f_10_with_Mustard_Abstract_Triangles.jpg');">
        <img src="{% static 'img/snakes.png' %}" id="logo" height="150" width="150" alt="logo" /><br>
       <img src="https://fontmeme.com/permalink/180303/c9de711657643773f98ff9278ca138a4.png" alt="sketchalot-font" border="0">
            
      </div>
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#attract">Coming Attractions</a></li>
        <li><a href="{% url 'start' %}"><button type="button" class="btn btn-info btn-warning">PLAY</button></a></li>
        <li><a href="#mission">Mission and Vision</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
     <!--  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
       <div class="modal-body">
        <div class="row" style="padding:30px;">
       <a href="https://fontmeme.com/fonts/sketchalot-font/"><img src="https://fontmeme.com/permalink/180304/035a9c127b5d84807af0754754e370a4.png" alt="sketchalot-font" border="0"></a><br>
        <div class="col-md-3"><img src="{% static 'img/egg.gif' %}" height="300" width="300" alt="logo" /></div>
         <div class="col-md-9" style="padding:80px;"><span style="font-size:40px; font-family: 'Covered By Your Grace', cursive !important;"> Wait !! I need some time to build puzzles that will crack your head.</span><br><br><button type="button" class="btn btn-warning" data-dismiss="modal">Close</button></div>
        </div></div>
       
      </div>
    </div>
  </div> -->
    </div>
  </div>
</nav>
      </header><br><br>
       <div class="container-fluid">
      <div class="container">
      <div class="egg row">
         <div class="col-md-3"><img src="{% static 'img/egg.gif' %}" height="300" width="300" alt="logo" /></div>
         <div class="col-md-9" id="speech-bubble"><div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
  <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <h2  style="font-size:40px !important;font-family: 'Covered By Your Grace', cursive !important;">Hello Snakes and Snakes! I am Mr.Egg!!<span>&nbsp;</span></h2> 
      </div>
      <div class="item">
        <h2  style="font-size:40px !important;font-family: 'Covered By Your Grace', cursive !important;">I don’t care if you are an Anaconda or a Python but you better start brushing up your math skills cozz you aren’t gonna crack these eggs easily</h2>
      </div>
      <div class="item">
       <h2  style="font-size:40px !important;font-family: 'Covered By Your Grace', cursive !important;"> In the quest of eating the egg don’t hit the wall or eat your own tail…! </h2>
      </div>
      <div class="item">
        <h2  style="font-size:40px !important;font-family: 'Covered By Your Grace', cursive !important;">Avengers are still fighting the war to build CrackIt….so please stay tuned.. ;)
 </h2>
      </div>    
    </div>
  </div>
  </div></div>
         
      </div>
      </header>
      <main>
         <div id="mission"></div>
         <div class="container">
            <div class="bckYellow row paddingTwoPer">
            <div class="col-md-4">
               <img src="https://fontmeme.com/permalink/180304/20622f69e1c1ca805cb4045c215bc3ec.png" alt="sketchalot-font" border="0"><br>
              CrackIt strives to ignite the mind of gamers by providing them an experience of learning while gaming which engages and delights them and further motivates us to keep creating innovative and impactful experiences for the gamers all across the globe.
                  </div>
                 <div class="col-md-4"><a href="https://fontmeme.com/fonts/mob-200-font/"><img src="https://fontmeme.com/permalink/180303/1eb43046fdbf5c4361beeffb58bd05bb.png" alt="mob-200-font" border="0"></a></div> 
                 <div class="col-md-4">
                 <img src="https://fontmeme.com/permalink/180304/1f91a9b9f5918d3a5873f693d1326a1a.png" alt="sketchalot-font" border="0"><br>
                   To develop the passion for learning while having fun among our Clients and be the best among our competitors. We remain confident in the ability of our company to successfully meet changes and keep evolving adapting the game plan to any challenges that lie ahead.
                 </div>
               </div>

            </div><br>
             <div id="attract"></div>
             <div class="container paddingTwoPer">
               <div class="row">
                 <img src="https://fontmeme.com/permalink/180304/6b1c2e0f19db125ff725060326461da5.png" alt="sketchalot-font" border="0"><br><br><br>
                <div class="row">
                  <div class="col-md-6"> <div class="col-md-2"><img src="http://icon-park.com/imagefiles/check_sign_icon_yellow.png"  alt="Cinque Terre" width="80" height="80" ></div> <div class="col-md-10">Presenting  a single user number series game where your snake will be given 3 lives per game.</div></div>
                  <div class="col-md-6"><div class="col-md-2"><img src="http://icon-park.com/imagefiles/check_sign_icon_yellow.png"  alt="Cinque Terre" width="80" height="80" ></div> <div class="col-md-10">The number series is displayed in the form of eggs then you 'Crack' the math and find the next number in the series.</div></div>
                </div>
                <div class="row">
                  <div class="col-md-6"> <div class="col-md-2"><img src="http://icon-park.com/imagefiles/check_sign_icon_yellow.png"  alt="Cinque Terre" width="80" height="80" ></div> <div class="col-md-10">Then a set of random numbers will be displayed on board and you navigate your snake to eat the correct number that occurs next in the series.
</div></div>
                  <div class="col-md-6"><div class="col-md-2"><img src="http://icon-park.com/imagefiles/check_sign_icon_yellow.png"  alt="Cinque Terre" width="80" height="80" ></div> <div class="col-md-10"> If your snake eats the correct number, you and your pet will move to the next level where the complexity of the number series game increases.</div></div>
                </div>
                <div class="row">
                  <div class="col-md-6"> <div class="col-md-2"><img src="http://icon-park.com/imagefiles/check_sign_icon_yellow.png"  alt="Cinque Terre" width="80" height="80" ></div> <div class="col-md-10">Otherwise your snake will lose one life and will be staying in the same level.
</div></div>
                  <div class="col-md-6"><div class="col-md-2"><img src="http://icon-park.com/imagefiles/check_sign_icon_yellow.png"  alt="Cinque Terre" width="80" height="80" ></div> <div class="col-md-10">Don’t hit the wall !! Let’s see how long your snake can survive!!!</div></div>
                </div>  
               </div>
             </div>
            <div class="team container paddingTwoPer">
            <div class="row">
                <img src="https://fontmeme.com/permalink/180304/0167666939ec96c447bfb61508637f17.png" alt="sketchalot-font" border="0"><br>

            </div>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-2"> <img src="/static/img/Vennela.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100">
                        <h4>Sri Vennela </h4>
              </div>
              <div class="col-md-2">
                 <img src="/static/img/hemanth.png" class="img-circle" alt="Cinque Terre" width="100" height="100" >
                        <h4>Hemanth Kumar</h4>
              </div>
              <div class="col-md-2">
                <img src="/static/img/Rohan.png" class="img-circle" alt="Cinque Terre" width="100" height="100">
                        <h4>Rohan Madiraju</h4>
              </div>
              <div class="col-md-2">
                <img src="{% static 'img/ritu.jpg' %}" class="img-circle" alt="Cinque Terre" width="100" height="100">
                        <h4>Ritu Phogat</h4>
              </div>
              <div class="col-md-2"> <img src="/static/img/Saksi.jpg" class="img-circle pull-middle" alt="Cinque Terre" width="100" height="100" >
                        <h4>Sakshi Arora</h4></div>
              <div class="col-md-1"></div>
            </div>
              <div class="row">
              <div class="col-md-2"></div>
                 <div class="col-md-2"><img src="/static/img/Manisha.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100">
                        <h4>Manisha Bochkar</h4></div> 
                  <div class="col-md-2"><img src="/static/img/Harshini.jpg" class="img-circle" alt="Cinque Terre" width="100" height="100" >
                        <h4>Harshini Adusamalli</h4></div>
                   <div class="col-md-2"> <img src="/static/img/Saketh.JPG" class="img-circle" alt="Cinque Terre" width="100" height="100">
                        <h4>Saaketh Lingamneni</h4></div>
                    <div class="col-md-2"><img src="/static/img/sanjay.png" class="img-circle" alt="Cinque Terre" width="100" height="100">
                        <h4>Sanjay Krishna</h4></div>
                     <div></div>
                      
              </div>
            </div><br><br>
             <div id="contact"></div>
            <div class="container">
            <div class="contact row">

              <img src="https://fontmeme.com/permalink/180304/c0741a593bd32957726f827277c52d55.png" alt="sketchalot-font" border="0"><br><br>
                
                 If you have any queries mail to our <b><a href='mailto:avengerskentstate@gmail.com'>HATCHERY.</a></b>
         
      
            </div></div>
         </div>
      </main><br><br>
     <footer class="container-fluid  text-center">
   <span class="fa fa-copyright"></span> Copyright 2018 Crackit 
 </footer>
      </div>
   </body>
</html>
